<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Golden Chariot Hotel</title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}"/>
</head>
<body>
<header th:fragment="header" class="header">
    <div class="left-side" th:text="|Welcome ${#authentication.principal.role}, ${#authentication.principal.username}|"></div>
    <div class="right-side">
        <form th:attr="action=@{/logout}" method="POST">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button class="logout-button" type="submit">Logout</button>
        </form>
    </div>
</header>
<nav th:fragment="nav" class="navigation">
    <div th:if="${#authentication.principal.role == 'Super Admin'}">
        <a th:href="@{/admin/index}">Admin</a>
        <a th:href="@{/customer/index}">Customer</a>
        <a th:href="@{/room/index}">Room</a>
        <a href="">Reservation</a>
    </div>
    <div th:if="${#authentication.principal.role == 'Admin'}">
        <a th:href="@{/customer/index}">Customer</a>
        <a th:href="@{/room/index}">Room</a>
        <a href="">Reservation</a>
        <a href="">Change My Profile</a>
    </div>
    <div th:if="${#authentication.principal.role == 'Customer'}">
        <a href="">Vacant Rooms</a>
        <a href="">My Reservation</a>
        <a href="">My Transactions</a>
        <a href="">Change My Profile</a>
    </div>
</nav>
<main></main>
</body>
</html>